<div id="container">
  <div id="wrapper">
    <ul class="viewpoint">
      <li class="shape">
        <div class="book">
          <div class="front">
          </div>
          <div class="info">
            <header>
              <h1> The Hidden Reality </h1>
              <span class="pub">Published</span>
              <span class="Year">2012</span>
            </header>
            <p> There was a time when 'universe' meant all there is. Everything. Yet, as physicist Brian Greene's extraordinary book shows, ours may be just one universe among many, like endless reflections in a mirror.
            </p>
          </div> <!--end info-->
        </div><!--end book-->
      </li>
      <li class="shape">
        <div class="book">
            <div class="front">
            </div>
            <div class="info">
              <header>
                <h1> Puppies for Real </h1>
                <span class="pub">Published</span>
                <span class="Year">2013</span>
              </header>
              <p> Puppies Puppies Puppies, Puppies for real...we're making a fake book called puppies for real. 
              </p>
            </div> <!--end info-->
          </div><!--end book-->     
      </li>
      <li class="shape"></li>
    </ul>
  </div>
</div>