/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a { 
  outline: 0; 
}
a:active { 
  outline: none; 
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
  
/***** END Reset **********/


body {
  background: #f1f1f1;
  font-family: Arial, Verdana;
}

#wrapper {
  margin: 0 auto 100px auto;
  max-width: 960px;
}

.viewpoint {
  list-style: none;
  padding: 0;
}

.shape {
  width:260px;
  height:400px;
  margin:30px;
  float:left;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
}

.book{
  width:260px;
  height:400px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(-130px);
  -moz-transform: translateZ(-130px);
  transform: translateZ(-130px);
  -webkit-transition: -webkit-transform 320ms;
  -moz-transition: -moz-transform 320ms;
  transition: transform 320ms;
  cursor: pointer;
}

/*.book:hover {
  -webkit-transform: rotateY(-90deg) translateZ(20px);
  -moz-transform:rotateY(-90deg) translateZ(20px);
  transform: rotateY(-90deg) translateZ(20px);
}*/

.menu_in{
  -webkit-transform: rotateY(-90deg) translateZ(0px);
  -moz-transform:rotateY(-90deg) translateZ(0px);
  transform: rotateY(-90deg) translateZ(0px);
}


.book .front, 
.book .info {
  position:absolute;
  width:260px;
  height:400px;
  background-color:#fff;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.book .front{
  -webkit-transform: translateZ(130px);
  -moz-transform: translateZ(130px);
  transform: translateZ(130px);
  background-size:cover;
  background-repeat: no-repeat;
}

.book .info {
  -webkit-transform: rotateY(90deg)translateZ(130px);
  -moz-transform: rotateY(90deg)translateZ(130px);
  transform: rotateY(90deg)translateZ(130px);
  border: 1px solid #B8B5B5;
  font-size: 0.75em;
}

.book::after{
  content:'';
  width:260px;
  height:260px;
  position:absolute;
  bottom:0;
  box-shadow:0px 30px 50px rgba(0,0,0,0.9);
  transform-origin:100% 100%;
  transform:rotateX(90deg)translateY(130px);
  transition:box-shadow 350ms;
}

book:hover::after{
box-shadow: 50px -5px 50px rgba(0,0,0,0.4);
}

